<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container text-center">
        <p class="navbar-text col-md-12 col-sm-12 col-xs-12"><a href="mailto:mcdadem@oregonstate.edu?subject=werde&body=I love the site!">Email Me! &nbsp</a>
            <a href="http://pdf-ace.com/pdfme" target="_blank"><img src="http://pdf-ace.com/images/buttons/save-as-pdf-6.gif" width="46" height="24" alt="Download as PDF"></a></p>
    </div>
</nav>