<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script|IM+Fell+French+Canon+SC|Inconsolata|Lobster" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{> navbar }}
  {{{body}}}
  {{> footer }}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="javascripts/client.js"></script>
  </body>
</html>
